# Merge and Analyze Coinone USDT Monthly Candles

This notebook merges monthly CSVs into a single DataFrame, sorts chronologically, lets you exclude full KST dates from analysis, and computes median/average of the `close` column.

In [16]:
import os
import glob
import pandas as pd

pd.set_option("display.max_rows", 200)

# Adjust if needed
DATA_DIR = "../data/coinone/monthly/usdt"
PATTERN = "usdt_1m_*.csv.gz"  # expects gzip-compressed CSVs created by downloader

all_files = sorted(glob.glob(os.path.join(DATA_DIR, PATTERN)))
print(f"Found {len(all_files)} files")
for f in all_files[:]:
    print("-", os.path.basename(f))

Found 22 files
- usdt_1m_2023-11.csv.gz
- usdt_1m_2023-12.csv.gz
- usdt_1m_2024-01.csv.gz
- usdt_1m_2024-02.csv.gz
- usdt_1m_2024-03.csv.gz
- usdt_1m_2024-04.csv.gz
- usdt_1m_2024-05.csv.gz
- usdt_1m_2024-06.csv.gz
- usdt_1m_2024-07.csv.gz
- usdt_1m_2024-08.csv.gz
- usdt_1m_2024-09.csv.gz
- usdt_1m_2024-10.csv.gz
- usdt_1m_2024-11.csv.gz
- usdt_1m_2024-12.csv.gz
- usdt_1m_2025-01.csv.gz
- usdt_1m_2025-02.csv.gz
- usdt_1m_2025-03.csv.gz
- usdt_1m_2025-04.csv.gz
- usdt_1m_2025-05.csv.gz
- usdt_1m_2025-06.csv.gz
- usdt_1m_2025-07.csv.gz
- usdt_1m_2025-08.csv.gz

# merge all csv

In [17]:
# Merge files into a single DataFrame, ensuring parsed UTC timestamps

if not all_files:
    raise SystemExit("No files found. Check DATA_DIR and PATTERN.")

# Read with parsing to ensure 'timestamp_utc' is datetime (as produced by downloader)
# Fallback: if reading generic, still parse when column exists
frames = []
for path in all_files:
    try:
        df = pd.read_csv(path, compression="gzip", parse_dates=["timestamp_utc"], dtype=str)
    except (pd.errors.ParserError, ValueError, OSError, UnicodeError):
        df = pd.read_csv(path, compression="gzip")
        if "timestamp_utc" in df.columns:
            df["timestamp_utc"] = pd.to_datetime(df["timestamp_utc"], utc=True, errors="coerce")
    frames.append(df)

merged_df = pd.concat(frames, ignore_index=True)

# Sort by utc timestamp if available, otherwise try 'date' column
if "timestamp_utc" in merged_df.columns:
    merged_df = merged_df.drop_duplicates(subset=["timestamp_utc"]).sort_values("timestamp_utc").reset_index(drop=True)
elif "date" in merged_df.columns:
    merged_df["date"] = pd.to_datetime(merged_df["date"], errors="coerce")
    merged_df = merged_df.dropna(subset=["date"]).sort_values("date").reset_index(drop=True)
else:
    raise SystemExit("Neither 'timestamp_utc' nor 'date' column found.")

print(merged_df.shape)
merged_df.head()

(908640, 11)

,timestamp_kst,market,timeframe,open,high,low,close,volume,timestamp_utc,ts_ms,_month_kst
0,2023-11-30 00:00:00,USDT/KRW,1m,1289.0,1289.0,1289.0,1289.0,0.0,2023-11-29 15:00:00+00:00,1701270000000,2023-11
1,2023-11-30 00:01:00,USDT/KRW,1m,1289.0,1289.0,1289.0,1289.0,0.0,2023-11-29 15:01:00+00:00,1701270060000,2023-11
2,2023-11-30 00:02:00,USDT/KRW,1m,1289.0,1289.0,1289.0,1289.0,0.0,2023-11-29 15:02:00+00:00,1701270120000,2023-11
3,2023-11-30 00:03:00,USDT/KRW,1m,1289.0,1289.0,1289.0,1289.0,0.0,2023-11-29 15:03:00+00:00,1701270180000,2023-11
4,2023-11-30 00:04:00,USDT/KRW,1m,1289.0,1289.0,1289.0,1289.0,0.0,2023-11-29 15:04:00+00:00,1701270240000,2023-11

# Convert UTC to KST date to enable full-day exclusion in KST

In [18]:

if "timestamp_utc" in merged_df.columns:
    # Ensure 'timestamp_utc' is a timezone-aware datetime
    if not pd.api.types.is_datetime64tz_dtype(merged_df["timestamp_utc"]):
        merged_df["timestamp_utc"] = pd.to_datetime(merged_df["timestamp_utc"], utc=True, errors="coerce")
    # Now safe to use .dt.tz_convert
    kst = merged_df["timestamp_utc"].dt.tz_convert("Asia/Seoul")
    merged_df["date_kst"] = kst.dt.date
else:
    # If only generic 'date' exists, assume it's timezone-naive local time; adapt as needed
    merged_df["date_kst"] = pd.to_datetime(merged_df["date"], errors="coerce").dt.date

merged_df[["timestamp_utc", "date_kst", "close"]].head()

/var/folders/4q/54t22rpj7ngdvjyv_g50m2dr0000gn/T/ipykernel_44885/2688033363.py:3: DeprecationWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not pd.api.types.is_datetime64tz_dtype(merged_df["timestamp_utc"]):

              timestamp_utc    date_kst   close
0 2023-11-29 15:00:00+00:00  2023-11-30  1289.0
1 2023-11-29 15:01:00+00:00  2023-11-30  1289.0
2 2023-11-29 15:02:00+00:00  2023-11-30  1289.0
3 2023-11-29 15:03:00+00:00  2023-11-30  1289.0
4 2023-11-29 15:04:00+00:00  2023-11-30  1289.0

# Exclude specific data

In [ ]:
# Exclude by KST 1-hour windows and/or full KST dates
# - Windows: e.g., "2024-01-03_10:00" excludes [10:00, 11:00) on that day
# - Dates: e.g., "2024-02-13" excludes the entire day

# exclude_windows = ["2024-01-03_10:00"]

## note
# 2023-12-01_11:00, 2023-12-01_12:00 close 이상무
# 2023-12-14_12:00 close 이상무
# 2024-01-27_00:00 -> close는 아무 이상 없음

exclude_dates = ["2023-11-29", "2023-11-30"] # initial period
# exclude_windows = ["2024-04-14_05:00" "2024-03-06_04:00", "2024-04-22_15:00"]
exclude_windows = ["2024-04-14_05:00"]
# exclude_windows = []

In [20]:
# Parse KST datetime starts
raw_starts = pd.to_datetime(exclude_windows, format="%Y-%m-%d_%H:%M", errors="coerce")
raw_starts = raw_starts[~raw_starts.isna()]
if len(raw_starts) > 0:
    starts_kst = raw_starts.tz_localize("Asia/Seoul")
else:
    starts_kst = raw_starts

# Ensure required columns and types
if "timestamp_utc" not in merged_df.columns:
    raise SystemExit("Expected 'timestamp_utc' column for KST exclusion")

if not pd.api.types.is_datetime64tz_dtype(merged_df["timestamp_utc"]):
    merged_df["timestamp_utc"] = pd.to_datetime(merged_df["timestamp_utc"], utc=True, errors="coerce")
    merged_df = merged_df.dropna(subset=["timestamp_utc"]).reset_index(drop=True)

if "date_kst" not in merged_df.columns:
    merged_df["date_kst"] = merged_df["timestamp_utc"].dt.tz_convert("Asia/Seoul").dt.date

kst_ts = merged_df["timestamp_utc"].dt.tz_convert("Asia/Seoul")

# 1) Window-based exclusion mask
mask_window = pd.Series(False, index=merged_df.index)
for start in starts_kst:
    end = start + pd.Timedelta(hours=1)
    mask_window |= (kst_ts >= start) & (kst_ts < end)

# 2) Full-day exclusion mask based on KST date
parsed_dates = pd.to_datetime(exclude_dates, errors="coerce") if exclude_dates else pd.to_datetime([])
if hasattr(parsed_dates, "isna"):
    parsed_dates = parsed_dates[~parsed_dates.isna()]
exclude_date_objs = set(pd.Series(parsed_dates).dt.date.tolist()) if len(parsed_dates) > 0 else set()
mask_day = merged_df["date_kst"].isin(exclude_date_objs) if len(exclude_date_objs) > 0 else pd.Series(False, index=merged_df.index)

# Combine masks
mask_excluded = mask_window | mask_day
filtered_df = merged_df.loc[~mask_excluded].copy()

print({
    "total_rows": len(merged_df),
    "excluded_rows": int(mask_excluded.sum()),
    "excluded_window_rows": int(mask_window.sum()),
    "excluded_day_rows": int(mask_day.sum()),
    "remaining_rows": len(filtered_df),
    "excluded_windows": [f"{s.strftime('%Y-%m-%d %H:%M')}~{(s + pd.Timedelta(hours=1)).strftime('%H:%M')} KST" for s in starts_kst],
    "excluded_dates": sorted([d.isoformat() for d in exclude_date_objs]),
})
filtered_df.head()

/var/folders/4q/54t22rpj7ngdvjyv_g50m2dr0000gn/T/ipykernel_44885/902665243.py:13: DeprecationWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not pd.api.types.is_datetime64tz_dtype(merged_df["timestamp_utc"]):

{'total_rows': 908640, 'excluded_rows': 1440, 'excluded_window_rows': 0, 'excluded_day_rows': 1440, 'remaining_rows': 907200, 'excluded_windows': [], 'excluded_dates': ['2023-11-29', '2023-11-30']}

,timestamp_kst,market,timeframe,open,high,low,close,volume,timestamp_utc,ts_ms,_month_kst,date_kst
1440,2023-12-01 00:00:00,USDT/KRW,1m,1342.0,1342.0,1342.0,1342.0,0.0,2023-11-30 15:00:00+00:00,1701356400000,2023-12,2023-12-01
1441,2023-12-01 00:01:00,USDT/KRW,1m,1342.0,1342.0,1342.0,1342.0,0.0,2023-11-30 15:01:00+00:00,1701356460000,2023-12,2023-12-01
1442,2023-12-01 00:02:00,USDT/KRW,1m,1342.0,1342.0,1342.0,1342.0,0.0,2023-11-30 15:02:00+00:00,1701356520000,2023-12,2023-12-01
1443,2023-12-01 00:03:00,USDT/KRW,1m,1342.0,1342.0,1342.0,1342.0,0.0,2023-11-30 15:03:00+00:00,1701356580000,2023-12,2023-12-01
1444,2023-12-01 00:04:00,USDT/KRW,1m,1337.0,1337.0,1337.0,1337.0,7.9984,2023-11-30 15:04:00+00:00,1701356640000,2023-12,2023-12-01

# [debug] Filter by KST datetime range [start, end)

In [21]:

# Example: 2024-04-14_05:00 to 2024-04-14_06:00
range_start_kst_str = "2024-04-14_05:00"
range_end_kst_str = "2024-04-14_06:00"

if "timestamp_utc" not in filtered_df.columns:
    raise SystemExit("Expected 'timestamp_utc' in filtered_df")

# Parse inputs as KST-aware times
range_start_kst = pd.to_datetime(range_start_kst_str, format="%Y-%m-%d_%H:%M", errors="coerce").tz_localize("Asia/Seoul")
range_end_kst = pd.to_datetime(range_end_kst_str, format="%Y-%m-%d_%H:%M", errors="coerce").tz_localize("Asia/Seoul")

# Convert filtered_df timestamps to KST and filter
kst_ts = filtered_df["timestamp_utc"].dt.tz_convert("Asia/Seoul")
mask_range = (kst_ts >= range_start_kst) & (kst_ts < range_end_kst)
window_df = filtered_df.loc[mask_range].copy()

print({
    "rows_in_window": len(window_df),
    "start_kst": range_start_kst.strftime("%Y-%m-%d %H:%M"),
    "end_kst": range_end_kst.strftime("%Y-%m-%d %H:%M"),
})
window_df.head(120)

{'rows_in_window': 60, 'start_kst': '2024-04-14 05:00', 'end_kst': '2024-04-14 06:00'}

,timestamp_kst,market,timeframe,open,high,low,close,volume,timestamp_utc,ts_ms,_month_kst,date_kst
196140,2024-04-14 05:00:00,USDT/KRW,1m,1537.0,1537.0,1523.0,1530.0,35698.10040386,2024-04-13 20:00:00+00:00,1713038400000,2024-04,2024-04-14
196141,2024-04-14 05:01:00,USDT/KRW,1m,1531.0,1531.0,1526.0,1530.0,36330.57358827,2024-04-13 20:01:00+00:00,1713038460000,2024-04,2024-04-14
196142,2024-04-14 05:02:00,USDT/KRW,1m,1530.0,1542.0,1524.0,1542.0,26935.49271257,2024-04-13 20:02:00+00:00,1713038520000,2024-04,2024-04-14
196143,2024-04-14 05:03:00,USDT/KRW,1m,1542.0,1550.0,1533.0,1550.0,15414.27219805,2024-04-13 20:03:00+00:00,1713038580000,2024-04,2024-04-14
196144,2024-04-14 05:04:00,USDT/KRW,1m,1549.0,1549.0,1532.0,1533.0,8424.48095498,2024-04-13 20:04:00+00:00,1713038640000,2024-04,2024-04-14
196145,2024-04-14 05:05:00,USDT/KRW,1m,1533.0,1540.0,1530.0,1537.0,4230.91091764,2024-04-13 20:05:00+00:00,1713038700000,2024-04,2024-04-14
196146,2024-04-14 05:06:00,USDT/KRW,1m,1537.0,1542.0,1533.0,1541.0,25436.05526397,2024-04-13 20:06:00+00:00,1713038760000,2024-04,2024-04-14
196147,2024-04-14 05:07:00,USDT/KRW,1m,1542.0,1587.0,1541.0,1575.0,9607.7218063,2024-04-13 20:07:00+00:00,1713038820000,2024-04,2024-04-14
196148,2024-04-14 05:08:00,USDT/KRW,1m,1588.0,1596.0,1575.0,1587.0,36580.41798744,2024-04-13 20:08:00+00:00,1713038880000,2024-04,2024-04-14
196149,2024-04-14 05:09:00,USDT/KRW,1m,1591.0,1618.0,1587.0,1616.0,30652.82654526,2024-04-13 20:09:00+00:00,1713038940000,2024-04,2024-04-14
196150,2024-04-14 05:10:00,USDT/KRW,1m,1610.0,1616.0,1596.0,1597.0,25810.42539345,2024-04-13 20:10:00+00:00,1713039000000,2024-04,2024-04-14
196151,2024-04-14 05:11:00,USDT/KRW,1m,1597.0,1617.0,1587.0,1588.0,29455.21009719,2024-04-13 20:11:00+00:00,1713039060000,2024-04,2024-04-14
196152,2024-04-14 05:12:00,USDT/KRW,1m,1591.0,1591.0,1584.0,1588.0,20353.68877925,2024-04-13 20:12:00+00:00,1713039120000,2024-04,2024-04-14
196153,2024-04-14 05:13:00,USDT/KRW,1m,1587.0,1588.0,1573.0,1586.0,18758.12940617,2024-04-13 20:13:00+00:00,1713039180000,2024-04,2024-04-14
196154,2024-04-14 05:14:00,USDT/KRW,1m,1586.0,1588.0,1573.0,1579.0,17865.67864427,2024-04-13 20:14:00+00:00,1713039240000,2024-04,2024-04-14
196155,2024-04-14 05:15:00,USDT/KRW,1m,1579.0,1589.0,1575.0,1582.0,29755.77044323,2024-04-13 20:15:00+00:00,1713039300000,2024-04,2024-04-14
196156,2024-04-14 05:16:00,USDT/KRW,1m,1579.0,1581.0,1570.0,1570.0,7415.5624,2024-04-13 20:16:00+00:00,1713039360000,2024-04,2024-04-14
196157,2024-04-14 05:17:00,USDT/KRW,1m,1575.0,1575.0,1567.0,1567.0,20606.56444722,2024-04-13 20:17:00+00:00,1713039420000,2024-04,2024-04-14
196158,2024-04-14 05:18:00,USDT/KRW,1m,1575.0,1580.0,1562.0,1578.0,18782.61701591,2024-04-13 20:18:00+00:00,1713039480000,2024-04,2024-04-14
196159,2024-04-14 05:19:00,USDT/KRW,1m,1574.0,1578.0,1566.0,1578.0,40981.65612112,2024-04-13 20:19:00+00:00,1713039540000,2024-04,2024-04-14
196160,2024-04-14 05:20:00,USDT/KRW,1m,1578.0,1579.0,1567.0,1570.0,32860.57103771,2024-04-13 20:20:00+00:00,1713039600000,2024-04,2024-04-14
196161,2024-04-14 05:21:00,USDT/KRW,1m,1570.0,1570.0,1556.0,1566.0,33309.94202754,2024-04-13 20:21:00+00:00,1713039660000,2024-04,2024-04-14
196162,2024-04-14 05:22:00,USDT/KRW,1m,1566.0,1577.0,1561.0,1572.0,41480.57166321,2024-04-13 20:22:00+00:00,1713039720000,2024-04,2024-04-14
196163,2024-04-14 05:23:00,USDT/KRW,1m,1573.0,1583.0,1573.0,1577.0,28914.60527928,2024-04-13 20:23:00+00:00,1713039780000,2024-04,2024-04-14
196164,2024-04-14 05:24:00,USDT/KRW,1m,1577.0,1584.0,1576.0,1576.0,15556.52278826,2024-04-13 20:24:00+00:00,1713039840000,2024-04,2024-04-14
196165,2024-04-14 05:25:00,USDT/KRW,1m,1572.0,1575.0,1553.0,1564.0,77361.88866925,2024-04-13 20:25:00+00:00,1713039900000,2024-04,2024-04-14
196166,2024-04-14 05:26:00,USDT/KRW,1m,1563.0,1564.0,1553.0,1564.0,56997.17180831,2024-04-13 20:26:00+00:00,1713039960000,2024-04,2024-04-14
196167,2024-04-14 05:27:00,USDT/KRW,1m,1564.0,1564.0,1554.0,1560.0,46399.17441526,2024-04-13 20:27:00+00:00,1713040020000,2024-04,2024-04-14
196168,2024-04-14 05:28:00,USDT/KRW,1m,1560.0,1565.0,1554.0,1554.0,84832.16490668,2024-04-13 20:28:00+00:00,1713040080000,2024-04,2024-04-14
196169,2024-04-14 05:29:00,USDT/KRW,1m,1554.0,1560.0,1551.0,1554.0,57065.55875943,2024-04-13 20:29:00+00:00,1713040140000,2024-04,2024-04-14
196170,2024-04-14 05:30:00,USDT/KRW,1m,1554.0,1554.0,1547.0,1550.0,41708.2671839,2024-04-13 20:30:00+00:00,1713040200000,2024-04,2024-04-14
196171,2024-04-14 05:31:00,USDT/KRW,1m,1549.0,1550.0,1536.0,1537.0,38942.6768616,2024-04-13 20:31:00+00:00,1713040260000,2024-04,2024-04-14
196172,2024-04-14 05:32:00,USDT/KRW,1m,1549.0,1549.0,1528.0,1549.0,64682.46386004,2024-04-13 20:32:00+00:00,1713040320000,2024-04,2024-04-14
196173,2024-04-14 05:33:00,USDT/KRW,1m,1536.0,1541.0,1536.0,1537.0,7117.07031461,2024-04-13 20:33:00+00:00,1713040380000,2024-04,2024-04-14
196174,2024-04-14 05:34:00,USDT/KRW,1m,1537.0,1549.0,1535.0,1549.0,29065.73287937,2024-04-13 20:34:00+00:00,1713040440000,2024-04,2024-04-14
196175,2024-04-14 05:35:00,USDT/KRW,1m,1549.0,1549.0,1534.0,1534.0,11748.71449709,2024-04-13 20:35:00+00:00,1713040500000,2024-04,2024-04-14
196176,2024-04-14 05:36:00,USDT/KRW,1m,1548.0,1548.0,1492.0,1546.0,16145.71667332,2024-04-13 20:36:00+00:00,1713040560000,2024-04,2024-04-14
196177,2024-04-14 05:37:00,USDT/KRW,1m,1546.0,1546.0,1524.0,1545.0,21099.05896955,2024-04-13 20:37:00+00:00,1713040620000,2024-04,2024-04-14
196178,2024-04-14 05:38:00,USDT/KRW,1m,1545.0,1549.0,1544.0,1549.0,116093.8121919,2024-04-13 20:38:00+00:00,1713040680000,2024-04,2024-04-14
196179,2024-04-14 05:39:00,USDT/KRW,1m,1549.0,1554.0,1548.0,1551.0,99121.95234407,2024-04-13 20:39:00+00:00,1713040740000,2024-04,2024-04-14
196180,2024-04-14 05:40:00,USDT/KRW,1m,1550.0,1555.0,1550.0,1554.0,27197.81004394,2024-04-13 20:40:00+00:00,1713040800000,2024-04,2024-04-14
196181,2024-04-14 05:41:00,USDT/KRW,1m,1554.0,1557.0,1542.0,1551.0,54832.92188438,2024-04-13 20:41:00+00:00,1713040860000,2024-04,2024-04-14
196182,2024-04-14 05:42:00,USDT/KRW,1m,1551.0,1558.0,1549.0,1551.0,33375.40237027,2024-04-13 20:42:00+00:00,1713040920000,2024-04,2024-04-14
196183,2024-04-14 05:43:00,USDT/KRW,1m,1558.0,1559.0,1552.0,1556.0,36006.28554632,2024-04-13 20:43:00+00:00,1713040980000,2024-04,2024-04-14
196184,2024-04-14 05:44:00,USDT/KRW,1m,1556.0,1558.0,1542.0,1542.0,16078.67600758,2024-04-13 20:44:00+00:00,1713041040000,2024-04,2024-04-14
196185,2024-04-14 05:45:00,USDT/KRW,1m,1555.0,1557.0,1546.0,1555.0,21076.54061639,2024-04-13 20:45:00+00:00,1713041100000,2024-04,2024-04-14
196186,2024-04-14 05:46:00,USDT/KRW,1m,1555.0,1562.0,1553.0,1555.0,60226.52218883,2024-04-13 20:46:00+00:00,1713041160000,2024-04,2024-04-14
196187,2024-04-14 05:47:00,USDT/KRW,1m,1555.0,1562.0,1555.0,1560.0,97338.3684751,2024-04-13 20:47:00+00:00,1713041220000,2024-04,2024-04-14
196188,2024-04-14 05:48:00,USDT/KRW,1m,1561.0,1563.0,1559.0,1563.0,119466.0188153,2024-04-13 20:48:00+00:00,1713041280000,2024-04,2024-04-14
196189,2024-04-14 05:49:00,USDT/KRW,1m,1563.0,1570.0,1562.0,1567.0,62841.80874181,2024-04-13 20:49:00+00:00,1713041340000,2024-04,2024-04-14
196190,2024-04-14 05:50:00,USDT/KRW,1m,1566.0,1571.0,1562.0,1562.0,43929.60944004,2024-04-13 20:50:00+00:00,1713041400000,2024-04,2024-04-14
196191,2024-04-14 05:51:00,USDT/KRW,1m,1566.0,1569.0,1557.0,1561.0,80338.08766498,2024-04-13 20:51:00+00:00,1713041460000,2024-04,2024-04-14
196192,2024-04-14 05:52:00,USDT/KRW,1m,1562.0,1566.0,1551.0,1559.0,100968.22241524,2024-04-13 20:52:00+00:00,1713041520000,2024-04,2024-04-14
196193,2024-04-14 05:53:00,USDT/KRW,1m,1564.0,1564.0,1559.0,1560.0,83665.67020392,2024-04-13 20:53:00+00:00,1713041580000,2024-04,2024-04-14
196194,2024-04-14 05:54:00,USDT/KRW,1m,1560.0,1563.0,1556.0,1558.0,77049.97705584,2024-04-13 20:54:00+00:00,1713041640000,2024-04,2024-04-14
196195,2024-04-14 05:55:00,USDT/KRW,1m,1560.0,1565.0,1556.0,1564.0,61248.49131183,2024-04-13 20:55:00+00:00,1713041700000,2024-04,2024-04-14
196196,2024-04-14 05:56:00,USDT/KRW,1m,1564.0,1564.0,1559.0,1563.0,28749.4766666,2024-04-13 20:56:00+00:00,1713041760000,2024-04,2024-04-14
196197,2024-04-14 05:57:00,USDT/KRW,1m,1558.0,1563.0,1558.0,1562.0,30413.55502837,2024-04-13 20:57:00+00:00,1713041820000,2024-04,2024-04-14
196198,2024-04-14 05:58:00,USDT/KRW,1m,1561.0,1563.0,1558.0,1563.0,12417.52722843,2024-04-13 20:58:00+00:00,1713041880000,2024-04,2024-04-14
196199,2024-04-14 05:59:00,USDT/KRW,1m,1563.0,1563.0,1560.0,1560.0,51588.12440331,2024-04-13 20:59:00+00:00,1713041940000,2024-04,2024-04-14

In [22]:
# Compute statistics on 'close' after exclusion

# Ensure 'close' is numeric
for col in ("close",):
    if col in filtered_df.columns:
        filtered_df[col] = pd.to_numeric(filtered_df[col], errors="coerce")

median_close = filtered_df["close"].median()
average_close = filtered_df["close"].mean()

print(f"Median of close: {median_close}")
print(f"Average of close: {average_close}")

Median of close: 1399.0
Average of close: 1410.1801395502644